.clang-format
.idea
afl-in
afl-out
# Visual Studio Specific ignores
*.user
.vs/
x64/
release/
debug/
packages/
/src/Release-FULL
/src/Release-SFX
/Release-FULL
/Release-SFX
/build/*.exe
/build/_error*
/build/obj
